<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SelenideAutoTests" verbose="1">
    <listeners>
        <listener class-name="Listener.ScreenShot" />
    </listeners>

    <test name="Tests">
        <classes>
            <class name="com.SelenideFrame.app.Tests" />
        </classes>
    </test>

</suite>